body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,28,130,1) 0%, rgba(0,212,255,1) 100%);
  padding-top: 50px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topPage {
  height: 60vh;
  width: 100vh;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  border: 3px;
  border-style: solid;
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 60px;
}

.subCard {
  position: relative;
  overflow: auto;
  border-radius: 20px;
  border-style: solid;
  background-color: white;
  width: 50vh;
  height: 40vh;
  padding: 25px;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 15vh;
}

form label {
  font-weight: bolder;
  display: flex;
  margin-bottom: 10px;
  
}

.cards {
  margin-top: 30vh;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap: wrap;
}

form {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  width: 65vh;
  margin: 20vh;
  padding: 30px;
  border-radius: 20px;
  border: solid;
  border-color: blue;
  border-width: 5px;
}

input[type='text'] {
  margin: 30px;
  height: 10vh;
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: left;
}

.formDiv {
  text-align: center;
  justify-content: center;
}

.submitButton {
  background-color: #35ca17;
  width: 60vh;
  height: 5vh;
  color: white;
  font-size: medium;
  font-weight: bolder;
  border: none;
  border-radius: 30px;
  margin-top: 5vh;
}

button:hover {
  cursor: pointer;
  background-color: #44d427;
}

.radioButtons {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.buttonLabelPair {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
}

img {
  width: 250px;
  height: 150px;
  margin: 6vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonDiv {
  margin: 6vh;
  display: flex;
  justify-content: center;
}

input[type='radio'] {
  margin-left: 10vh;
  width: 20px;
  height: 20px;
}

.buttonBar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 26px;
  margin-left: 45vh;
  z-index: 1;
}

.buttonLike {
  background-color: white;
  position: absolute;
  top: 0px;
  background-image: url('./media/thumbsup.png');
  background-size: cover;
  border: none;
  width: 30px;
  height: 30px;
}

.buttonLike:hover {
  background-color: white;
  width: 40px;
  height: 40px;
  transition: width 0.2s ease, height 0.2s ease

}

.buttonLike:active {
  width: 30px;
  height: 30px;
  transition: width 0.3s ease, height 0.3s ease;
}


.subCard label {
  padding: 0;
}

label {
  font-weight: bolder;
}

.cardDetails {
  position: absolute;
  top: 10px;
  left: 0;
  margin: 20px;
}