body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,28,130,1) 0%, rgba(0,212,255,1) 100%);
  padding-top: 50px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topPage {
  height: 50vh;
  width: 100vh;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  border: 3px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 60px;
}

.subCard {
  overflow: auto;
  border-radius: 20px;
  border-style: solid;
  background-color: white;
  width: 55vh;
  height: 50vh;
  padding: 20px;
  margin-left: 2vh;
  margin-right: 2vh;
}

label {
  font-weight: bolder;
}

.cards {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}